@model IEnumerable<QLBanVePhim.Models.ListVe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout_datve.cshtml";
}

<div class="order-container">
    <div class="order">
        <img class="order__images" alt='' src="~/images/tickets.png">
        <p class="order__title">Đặt Vé
        <div class="order__control">
            <a href="#" class="order__control-btn">@ViewBag.Info.LichChieu.PhatHanhPhim.Rap.TenRap</a>
            <a href="#" class="order__control-btn">@ViewBag.Info.LichChieu.NgayChieu.ToString("dd/MM/yyyy")</a>
            <a href="#" class="order__control-btn">@ViewBag.Info.LichChieu.PhatHanhPhim.Phim.TenPhim</a>
        </div>
    </div>
</div>

<div class="choose-sits">
    <div class="choose-sits__info choose-sits__info--first">
        <ul>
            <li class="sits-price marker--none"><strong>Giá</strong></li>
            <li class="sits-price sits-price--cheap">120000</li>
            <li class="sits-price sits-price--middle">170000</li>
        </ul>
    </div>

    <div class="choose-sits__info">
        <ul>
            <li class="sits-state sits-state--not">Ghế Đã Được Đặt</li>
            <li class="sits-state sits-state--your">Đang Chọn</li>
        </ul>
    </div>

    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="sits-area hidden-xs">
            <div class="sits-anchor">Màn Hình</div>

            <div class="sits">
                <aside class="sits__line">
                    @{
                            foreach (var item in Model)
                            {
                                    <span class="sits__indecator">@item.NameDayGhe</span>

                            }
                    }
                </aside>

                @foreach (var item in Model)
                {
                     @:<div class="sits__row">
                     int b = 1;
                     foreach (var item2 in item.Listve)
                     {
                          <span class="sits__place chkGhe 
                            @if(item2.Ghe.LoaiGhe == true)
	                        {
		                        @:sits-price--middle
	                        }else
                            { 
                                @:sits-price--cheap 
                            }
                            @if(item2.TinhTrangGhe == true){
                                @:sits-state--not
                            }
                            " data-place='@item.NameDayGhe@b' data-value="@item2.VeId" data-price='@item2.Ghe.GiaTien.ToString("0.##")'>@item.NameDayGhe@b</span>
                          b++;
                     }
                     @:</div>
                }
                
                <aside class="sits__checked">
                    <div class="checked-place">
                    </div>
                    <div id="cart-amount" class="checked-result">
                        0 VNĐ
                    </div>
                    <div class="checked-result2">
                        <a href="@Url.Action("Index","ThanhToan")" class="order__control-btn">Thanh Toán</a>
                    </div>
                    <script>
                        function fnUpdateCartInfo(count, amount) {
                            $("#cart-amount").html(amount + " VNĐ");
                        }
                    </script>
                </aside>
                <footer class="sits__number">
                    @for (int i = 1; i <= ViewBag.CountMaxGhe; i++)
                    {
                            <span class="sits__indecator">@i</span>
                    }
                </footer>
            </div>
        </div>
    </div>

    <div class="col-sm-12 visible-xs">
        <div class="sits-area--mobile">
            <div class="sits-area--mobile-wrap">
                <div class="sits-select">
                    <select name="sorting_item" class="sits__sort sit-row" tabindex="0">
                        @{
                            int f = 1;
                            foreach (var item in Model)
                            {
                                <option value="@f">@item.NameDayGhe</option>
                                f++;
                            }
                        }
                    </select>

                    <select name="sorting_item" class="sits__sort sit-number" tabindex="1">
                        @for (int i = 1; i <= ViewBag.CountMaxGhe; i++)
                        {
                            <option value="@i" @if (i == 1)
                            { 
                                @:selected='selected'
                            }>@i</option>
                        }
                    </select>

                    <a href="#" class="btn btn-md btn--warning toogle-sits">Choose sit</a>
                </div>
            </div>

            <a href="#" class="watchlist add-sits-line">Add new sit</a>

            <aside class="sits__checked">
                <div class="checked-place">
                    <span class="choosen-place"></span>
                </div>
                <div id="cart-amount" class="checked-result">
                    0 VNĐ
                </div>
            </aside>

            <img alt="" src="images/components/sits_mobile.png">
        </div>
    </div>

</div>

<div class="order-container">
    <div class="order">
        <div class="order__control">
            <a href="@Url.Action("Index","ThanhToan")" class="order__control-btn">Thanh Toán</a>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
            $(document).ready(function() {
                init_BookingTwo();
                $(".chkGhe").click(function () {
                    id = $(this).attr("data-value");
                    $.ajax({
                        url: "/ListVe/AddtoCart",
                        data: { id: id },
                        success: function (response) {
                            eval(response);
                        }
                    });
                });
            });
	</script>
    
}