@model IEnumerable<QLBanVePhim.Models.LoaiPhim>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-globe"></i>Danh Sách Loại Phim: @TempData["Error"]</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                @Html.Action("CreateTool","LoaiPhim")
                @using (Html.BeginForm("Index","LoaiPhim",FormMethod.Post)) { 
                <div class="table-toolbar">
                    <div class="btn-group">
                        <button type="submit" class="btn red">Xóa Tất Cả <i class="fa fa-times-circle"></i></button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">Print
                                </a>
                            </li>
                            <li>
                                <a href="#">Save as PDF
                                </a>
                            </li>
                            <li>
                                <a href="#">Export to Excel
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="sample_2">
                    <thead>
                        <tr>
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
                            </th>
                            <th>Mã</th>
                            <th>Tên Dạng Phim</th>
                            <th>Tool</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="odd gradeX">
                            <td><input type="checkbox" class="checkboxes" value="@item.LoaiPhimId" /></td>
                            <td>@Html.DisplayFor(modelItem=>item.LoaiPhimId)</td>
                            <td>@item.TenLoai</td>
                            <td>
                                <a href="@Url.Action("Details", new { Id = item.LoaiPhimId})" data-trigger="hover" data-placement="top" data-content="Chi Tiết Dạng Phim" data-original-title="Chức Năng" class="fa fa-info-circle popovers"> </a>
                                <a href="@Url.Action("Edit", new { Id = item.LoaiPhimId})" data-trigger="hover" data-placement="top" data-content="Sửa Dạng Phim" data-original-title="Chức Năng" class="fa fa-edit popovers"> </a>
                                <a href="@Url.Action("Delete", new { Id = item.LoaiPhimId})" data-trigger="hover" data-placement="top" data-content="Xóa Dạng Phim" data-original-title="Chức Năng" class="fa fa-times-circle popovers"> </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                }
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

@section scripts{
    <script src="~/assets/scripts/custom/table-managed.js"></script>    
    <script src="~/assets/scripts/custom/ui-general.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init(); // initlayout and core plugins
            TableManaged.init();
            UIGeneral.init();
        });
    </script>
}