<!doctype html>
<html>
<head>
	<!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>AMovie</title>
        <meta name="description" content="A Template by Gozha.net">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="">
    
    <!-- Mobile Specific Metas-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
    
        <!-- Roboto -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
        <!-- Open Sans -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>
    
    @Styles.Render("~/Content/csssite")
    <!-- Swiper slider -->
    <link href="~/Content/external/idangerous.swiper.css" rel="stylesheet" />
    <!-- Magnific-popup -->
    <link href="~/Content/external/magnific-popup.css" rel="stylesheet" />
    <!-- Modernizr --> 
        <script src="~/Scripts/external/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --> 
    <!--[if lt IE 9]> 
    	@Styles.Render("~/bundles/jqhtml5")
    <![endif]-->

</head>

<body>
    <div class="wrapper place-wrapper">

        @Html.Action("Menu", "Design")
        <!-- Main content -->
        
        <section class="container">
            @Html.Action("Banner", "Design")

            @Html.Action("Timkiem", "Design")
            
            <div class="clearfix"></div>

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-md-9">
                        @RenderSection("featured", required: false)
                        @RenderBody()
                    </div>

                    @Html.Action("BannerRight", "Design")
                </div>
            </div>              
                
        </section>

        <div class="clearfix"></div>

        <footer class="footer-wrapper">
            @Html.Action("Footer","Design")
        </footer>
    </div>

    <!-- open/close -->
        <div class="overlay overlay-hugeinc">
            
            <section class="container">

                @Html.Action("Login","Design")

            </section>
        </div>

	<!-- JavaScript-->
        <!-- jQuery 1.9.1--> 
        <script src="~/Scripts/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="Scripts/external/jquery-1.10.1.min.js"><\/script>')</script>
        @Scripts.Render("~/bundles/jquerysite")
		
	    

        @RenderSection("Scripts", required: false)
</body>
</html>
