@model QLBanVePhim.Models.Ghe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ghe</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiGhe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiGhe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayGhe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayGhe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoGhe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoGhe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaTien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaTien)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GheId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
