@model IEnumerable<QLBanVePhim.Models.Ghe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiGhe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayGhe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoGhe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiGhe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayGhe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoGhe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GheId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GheId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GheId })
        </td>
    </tr>
}

</table>
